:root {
  --height: 600px;
  --width: 1200px;
  --max-width: 100%;
  --padding: 50px;
  --picture_number: 1;
  --arrow_size: 15px;
}

.carousel-container {
  /*border: 1px solid red;*/
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  /*padding: var(--padding);*/
  width: var(--max-width);
  /*height: var(--height);*/
  /*background-color: red;*/
}
.carousel {
  margin-left: 0;
  height: var(--height);
  width: calc(var(--max-width) * var(--picture_number));
  /*background-color: black;*/
}
.image-cont {
  text-align: center;
  height: var(--height);
  float: left;
  /*width: var(--max-width);*/
  width: calc(var(--max-width) / var(--picture_number));
}

.image-preview {
  /*overflow: scroll;*/
  /*position: relative;*/
  /*border: 1px solid red;*/
  box-sizing: border-box;
  padding: calc(2 * (var(--height) * 0.01));
  margin-bottom: calc(2 * (var(--height) * 0.01));
  /*width: calc(((var(--height) * 0.2) + (2 * (var(--height) * 0.01))) * var(--picture_number));*/
      width: 100%;
    overflow-x:scroll;
    overflow-y:hidden;
    white-space: nowrap;
  height: calc((var(--height) * 0.2) + (2 * (var(--height) * 0.005)));
}
.preview-cont {
  background-color: black;
  cursor: pointer;
  overflow: hidden;
  margin: calc(var(--height) * 0.005);
  /*float: left;*/
  display:inline-block;
  /*white-space: nowrap;*/
  height: calc(var(--height) * 0.2);
  width: calc(var(--height) * 0.2);
}
.preview-cont:last-child {
  margin-right: calc(var(--height) * 0.005);
}




.slide-left {
  opacity: 0;
  cursor: pointer;
  left: 0;
  width: calc(var(--max-width)/2);
  height: var(--height);
  position: absolute;
  background: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,.25));
  /*background-color: green;*/
}
.arrow-left {
  float: left;
  margin-left: calc(var(--height) * 0.05);
  margin-top: calc((var(--height) * 0.5) - var(--arrow_size));
  width: 0; 
  height: 0; 
  border-top: var(--arrow_size) solid transparent;
  border-bottom: var(--arrow_size) solid transparent; 
  
  border-right:var(--arrow_size) solid rgba(255,255,255,.5); 
}
.circle-arrow-left {
  float: left;
  margin-left: calc(var(--height) * 0.05);
  margin-top: calc((var(--height) * 0.5) - calc(var(--arrow_size) * 2));
  width: calc(var(--arrow_size) * 4);
  height: 0;
  padding-bottom: calc(var(--arrow_size) * 4);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  border: 2px solid rgba(255,255,255,1);
}
.circle-arrow-left:before {
  content: '';
  display: block;
  border-top: solid var(--arrow_size) transparent;
  border-right: solid var(--arrow_size) rgba(255,255,255,1);
  border-bottom: solid var(--arrow_size) transparent;
  position: absolute;
  top: 50%;
  right: 42.5%;
  margin: calc(var(--arrow_size) * -1) 0 0 -3px;
}
.slide-right {
  opacity: 0;
  cursor: pointer;
  right: 0;
  width: calc(var(--max-width)/2);
  height: var(--height);
  position: absolute;
  background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,.25));
  /*background-color: yellow;*/
}
.circle-arrow-right {
  float: right;
  margin-right: calc(var(--height) * 0.05);
  margin-top: calc((var(--height) * 0.5) - calc(var(--arrow_size) * 2));
  width: calc(var(--arrow_size) * 4);
  height: 0;
  padding-bottom: calc(var(--arrow_size) * 4);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  border: 2px solid rgba(255,255,255,1);
}
.circle-arrow-right:before {
  content: '';
  display: block;
  border-top: solid var(--arrow_size) transparent;
  border-left: solid var(--arrow_size) rgba(255,255,255,1);
  border-bottom: solid var(--arrow_size) transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: calc(var(--arrow_size) * -1) 0 0 -3px;
}
.slide-right:hover {
  opacity: 1;
}
.slide-left:hover {
  opacity: 1; 
}
.transition {
  -o-transition:1s;
  -ms-transition:1s;
  -moz-transition:1s;
  -webkit-transition:1s;
  transition:1s;
}
img {
  height: 100%;
}

.active {
  visibility: visible;
}
.active-preview {
  opacity: 1;
}
.in-active {
  visibility: hidden;
}
.in-active-preview {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  opacity: .5;
}
.in-active-preview:hover {
  opacity: 1; 
}


.test1 {
  background-color: orange;
}
.test2 {
  background-color: pink;
}
.test3 {
  background-color: blue;
}