/*:root {
  --height: 600px;
  --width: 1200px;
  --max-width: 100%;
  --padding: 50px;
  --picture_number: 1;
  --arrow_size: 15px;
}*/

/*.carousel-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  width: var(--max-width);
}*/
  /*border: 1px solid red;*/
  /*padding: var(--padding);*/
  /*height: var(--height);*/
  /*background-color: red;*/
/*.carousel-height {
  height: calc(var(--height) * 0.75);
}*/
/*.carousel {
  margin-left: 0;
  width: calc(var(--max-width) * var(--picture_number));
}*/
  /*height: calc(var(--height) * 0.75);*/
/*.image-cont {
  text-align: center;
  float: left;
  width: calc(var(--max-width) / var(--picture_number));
}*/
  /*height: calc(var(--height) * 0.75);*/
  /*width: var(--max-width);*/

/*.image-preview {
  box-sizing: border-box;
  padding: calc(2 * (var(--height) * 0.01));
  padding-top: 0;
  width: 100%;
  overflow-x:scroll;
  overflow-y:hidden;
  white-space: nowrap;
  height: calc(var(--height) * 0.25);
  font-size: 0;
}*/
/*.preview-cont {
  background-color: black;
  cursor: pointer;
  overflow: hidden;
  margin: calc(var(--height) * 0.01);
  margin-top: 0;
  margin-bottom: 0;
  display:inline-block;
  height: calc(var(--height) * 0.2);
  width: calc(var(--height) * 0.2);
}*/
  /*float: left;*/
  /*white-space: nowrap;*/
/*.preview-cont:last-child {
  margin-right: calc(var(--height) * 0.005);
}*/




/*.slide-left {
  opacity: 0;
  transition: opacity 1s;
  -moz-transition: opacity 1s;
  -webkit-transition: opacity 1s;

  cursor: pointer;
  left: 0;
  width: calc(var(--max-width)/2);
  position: absolute;
  background: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,.25));
}*/
  /*height: calc(var(--height) * 0.75);*/
  /*background-color: green;*/
/*.arrow-left {
  float: left;
  margin-left: calc(var(--height) * 0.05);
  margin-top: calc((var(--height) * 0.5) - var(--arrow_size));
  width: 0; 
  height: 0; 
  border-top: var(--arrow_size) solid transparent;
  border-bottom: var(--arrow_size) solid transparent; 
  
  border-right:var(--arrow_size) solid rgba(255,255,255,.5); 
}*/
/*.circle-arrow-left {
  float: left;
  margin-left: calc(var(--height) * 0.05);
  top: 50%;
  margin-top: calc(-2 * var(--arrow_size));
  width: calc(var(--arrow_size) * 4);
  height: 0;
  padding-bottom: calc(var(--arrow_size) * 4);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  border: 2px solid rgba(255,255,255,1);
}*/
/*.circle-arrow-left:before {
  content: '';
  display: block;
  border-top: solid var(--arrow_size) transparent;
  border-right: solid var(--arrow_size) rgba(255,255,255,1);
  border-bottom: solid var(--arrow_size) transparent;
  position: absolute;
  top: 50%;
  right: 42.5%;
  margin: calc(var(--arrow_size) * -1) 0 0 -3px;
}*/
/*.slide-right {
  opacity: 0;
  transition: opacity 1s;
  -moz-transition: opacity 1s;
  -webkit-transition: opacity 1s;
  cursor: pointer;
  right: 0;
  width: calc(var(--max-width)/2);
  position: absolute;
  background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,.25));
}*/
  /*height: calc(var(--height) * 0.75);*/
  /*background-color: yellow;*/
/*.circle-arrow-right {
  float: right;
  margin-right: calc(var(--height) * 0.05);
  top: 50%;
  margin-top: calc(-2 * var(--arrow_size));
  width: calc(var(--arrow_size) * 4);
  height: 0;
  padding-bottom: calc(var(--arrow_size) * 4);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  border: 2px solid rgba(255,255,255,1);
}*/
/*.circle-arrow-right:before {
  content: '';
  display: block;
  border-top: solid var(--arrow_size) transparent;
  border-left: solid var(--arrow_size) rgba(255,255,255,1);
  border-bottom: solid var(--arrow_size) transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: calc(var(--arrow_size) * -1) 0 0 -3px;
}*/
/*.slide-right:hover {
  opacity: 1;
}
.slide-left:hover {
  opacity: 1; 
}
img {
  height: 100%;
}*/

/*.active {
  visibility: visible;
}
.active-preview {
  opacity: 1;
}
.in-active {
  visibility: hidden;
}
.in-active-preview {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  opacity: .5;
}
.in-active-preview:hover {
  opacity: 1; 
}*/


/*.test1 {
  background-color: orange;
}
.test2 {
  background-color: pink;
}
.test3 {
  background-color: blue;
}*/



/*@media only screen and (max-device-width: 480px) {
  .carousel {
    background-color: rgba(0,0,0,0.5);
  }
  .slide-left, .slide-right {
    opacity: 1;
    background: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0));
  }

  .circle-arrow-right {
    margin-right: calc(var(--height) * 0.001);
    border: 2px solid rgba(255,255,255,0);
  }
  .circle-arrow-right:before {
    border-left: solid var(--arrow_size) rgba(255,255,255,.25);
  }
  .circle-arrow-left {
    margin-left: calc(var(--height) * 0.001);
    border: 2px solid rgba(255,255,255,0);
  }
  .circle-arrow-left:before {
    border-right: solid var(--arrow_size) rgba(255,255,255,.25);
  }
}*/



